services:
  summit-cap-db:
    image: docker.io/postgres:16
    labels:
      com.quickstart.package: db
    environment:
      POSTGRES_DB: summit-cap
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    ports:
      - "5433:5432"
    volumes:
      - summit_cap_postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d summit-cap"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  summit_cap_postgres_data:
